.resultWrapp {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 60px;
}
.resultItem {
    border: 1px solid #ccc;
    background-color:rgb(59, 57, 57);
    border-radius:15px;
    padding: 20px;
    margin-bottom: 10px;
    min-width: 10%;
    flex: 1;

    ul {
      padding-left: 20px;
    }
  }
  
  .resultTitle {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }
  
  .resultClimate {
    font-size: 14px;
  }
  h2 {
    text-align: center;
  }